<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}Mis recetas{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="manifest" href="/static/manifest.json">
  <meta name="theme-color" content="#6b2f8f" />
</head>
<body>
  <header>
    <h1><a href="/">RecetasApp</a></h1>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <script src="/static/js/main.js"></script>
</body>
</html>